{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}

{% block title %}
    <title>
        اطلاعات کاربری
    </title>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-form">
                    <h3>
                        تغییر اطلاعات کاربری
                    </h3>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post"
                          action="">
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <p>
                                <label for="id_first_name">{{ form.username.label }}:</label>
                                {{ form.username }}
                            </p>
                            <p>
                                <label for="id_first_name">{{ form.first_name.label }}:</label>
                                {{ form.first_name }}
                            </p>
                            <p>
                                <label for="id_first_name">{{ form.last_name.label }}:</label>
                                {{ form.last_name }}
                            </p>
                            <p>
                                <label for="id_first_name">{{ form.email.label }}:</label>
                                {{ form.email }}
                            </p>
                            <br>
                            <p>
                                <a href="/password">تغییر رمز عبور</a>
                            </p>
<br>
                        </div>

                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="ویرایش">
                        </div>
                    </form>
                </div>
            </div>
            {#            {% render_partial 'cms_account.views.user_sidebar' %}#}
        </div>
        {% block extra_content %}
        {% endblock %}
    </div>
    {% block bottom_content %}
    {% endblock %}

{% endblock %}


