{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% block title %}
    <title>ورود</title>
{% endblock %}
{% block banner %}
    {% render_partial 'banner' %}
{% endblock %}

{% block content %}

    <div class="account">
        <div class="container">
            <div class="account-bottom">
                <div class="col-md-6 account-right">
                    <form method="post">
                        {% csrf_token %}
                        <div class="account-top heading">
                            <h3>
                                ورود به حساب کاربری
                            </h3>
                        </div>
                        <div class="address">

                            <span>{{ login_form.user_name.label }}</span>
                            {{ login_form.user_name }}
                            {% for error in login_form.user_name.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="address">
                            <span>{{ login_form.password.label }}</span>
                            {{ login_form.password }}
                            {% for error in login_form.password.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}

                        </div>
                        <div class="address">
                            <a class="forgot" href="#">رمز ورود خود را فراموش کرده اید?</a>
                            <input type="submit" value="ورود به سیستم">
                        </div>
                    </form>
                    {% block extra_content %}
                    {% endblock %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% block bottom_content %}
        {% endblock %}
    </div>


{% endblock %}